/* Login.css */
.login-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;  
  background-color: #f4f7f6; /* Nền xám nhạt */
  font-family: "Inter", sans-serif;
}

.login-card {
  background-color: #ffffff;
  width: 100%;
  /* max-height: 600px ; */
  max-width: 400px;
  padding: 40px 32px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
}

/* --- Form --- */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* kc giữa các ô nhập liệu */
}

.form-group {
  display: flex;
  flex-direction: column;
  /* gap: 10px !important; */
}

.form-group label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

/* Khối bao bọc Input */
.input-wrapper {
  display: flex;
  align-items: center;
}

.input-wrapper input {
  width: 100%;
  padding: 14px 16px; 
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: all 0.2s;
  box-sizing: border-box;
}

/* --- Nút Đăng nhập --- */
.btn-login {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  /* text-align: right; */
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  margin-top: 8px;
}

/* .btn-login:disabled{
  background-color: red;
} */
/* --- Footer --- */
.login-footer {
  margin-top: 24px;
  text-align: center;
  font-size: 14px;
  color: #666;
}

/* Responsive cho điện thoại nhỏ */
@media (max-width: 480px) {
  .login-card {
    padding: 32px 20px;
  }
}
