/* Sidebar.css */
.sidebar {
  width: 260px;
  height: 100vh; /* Chiều cao chiếm toàn bộ màn hình */
  background-color: #ffffff;
  /* border-left: 1px solid #e0e0e0; */
  display: flex;
  flex-direction: column;
  position: fixed; /* Cố định bên trái */
  top: 0;
  left: 0;

  /* left = 0 thanh sidebar ở bên trái */
  font-family: "Inter", sans-serif; /* Đổi font theo Figma của bạn */
}

/* Khu vực Logo  tiêu đề*/
.sidebar-logo {
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid #f0f0f0;
}

.sidebar-logo h2 {
  font-size: 20px;
  color: #333;
  margin: 0;
  font-weight: 700;
}

/* Khu vực Menu Nav */
/* vị trí chữ trong sidebar */
.sidebar-nav {
  flex: 1; 
  /* Đẩy phần footer xuống dưới cùng */
  padding: 24px 16px;
    overflow-y: auto;/* Cho phép cuộn nếu menu quá dài */
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}


/* màu mặc định */
.nav-link {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  text-decoration: none;
  color: #666;
  border-radius: 8px;
  transition: all 0.3s ease;
  font-size: 15px;
  font-weight: 500;
}

/* Hiệu ứng khi hover chuột vào Menu */
.nav-link:hover {
  background-color: #f4f7f6;
  color: #333;
}

/* Trạng thái Menu đang được chọn (Active) */
.nav-link.active {
  background-color: #e8f5e9; 
  color: #4caf50; 
  font-weight: 600;
}



/* Khu vực Footer (Đăng xuất) */
.sidebar-footer {

  padding: 10px 16px;
  border-top: 1px solid #f0f0f0;
}

.logout-btn {
  width: 100%;
  display: flex;
  align-items: right;
  gap: 12px;
  padding: 12px 16px;
  background-color: transparent;
  border: none;
  color: #d32f2f; /* Màu đỏ cảnh báo */
  font-size: 15px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}


